@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


/* =========================
   LIGHT THEME
========================= */

:root {

  /* Background */
  --background: #ffffff;
  --foreground: #09090b;

  /* Surface */
  --surface: #f8fafc;
  --surface-hover: #f1f5f9;

  /* Card */
  --card: #ffffff;
  --card-foreground: #09090b;

  /* Border */
  --border: #e4e4e7;

  /* Text */
  --text-primary: #09090b;
  --text-secondary: #52525b;
  --text-muted: #71717a;

  /* Brand */
  --primary: #2563eb;
  --primary-hover: #1d4ed8;
  --primary-foreground: #ffffff;


  /* Accent */
  --accent: #7c3aed;
  --accent-foreground: #ffffff;


  /* Success */
  --success: #16a34a;

  /* Danger */
  --danger: #dc2626;


  /* Shadow */
  --shadow:
    0 10px 30px rgba(0,0,0,0.08);


  /* Gradient */
  --gradient-start: #2563eb;
  --gradient-end: #7c3aed;
}



/* =========================
   DARK THEME
========================= */

.dark {

  /* Background */
  --background: #09090b;
  --foreground: #fafafa;


  /* Surface */
  --surface: #18181b;
  --surface-hover: #27272a;


  /* Card */
  --card: #111111;
  --card-foreground: #fafafa;


  /* Border */
  --border: #27272a;


  /* Text */
  --text-primary: #fafafa;
  --text-secondary: #d4d4d8;
  --text-muted: #a1a1aa;


  /* Brand */
  --primary: #3b82f6;
  --primary-hover: #60a5fa;
  --primary-foreground: #ffffff;


  /* Accent */
  --accent: #a78bfa;
  --accent-foreground: #09090b;


  /* Success */
  --success: #22c55e;


  /* Danger */
  --danger: #ef4444;


  /* Shadow */
  --shadow:
    0 10px 40px rgba(0,0,0,0.45);


  /* Gradient */
  --gradient-start: #3b82f6;
  --gradient-end: #a855f7;

}



body {

  background: var(--background);
  color: var(--foreground);

}